@model  Hasta

<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="HastaTc"></label>
        <input asp-for="HastaTc" class="form-control" />
        <span asp-validation-for="HastaTc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HastaAd"></label>
        <input asp-for="HastaAd" class="form-control" />
        <span asp-validation-for="HastaAd" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HastaSoyad"></label>
        <input asp-for="HastaSoyad" class="form-control" />
        <span asp-validation-for="HastaSoyad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HastaEmail"></label>
        <input asp-for="HastaEmail" class="form-control" />
        <span asp-validation-for="HastaEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HastaTel"></label>
        <input asp-for="HastaTel" class="form-control" />
        <span asp-validation-for="HastaTel" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>