@model DoktorTable
@{
    ViewData["Title"] = "Doktor Ekle";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <div class="form-group mb-3">
                <label asp-for="DoktorAd" class="form-label">Username</label>
                <input asp-for="DoktorAd" class="form-control" placeholder="E-Posta" />
                <span asp-validation-for="DoktorAd" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="DoktorSoyad" class="form-label">Password</label>
                <input asp-for="DoktorSoyad" type="password" class="form-control" placeholder="Sifre" />
                <span asp-validation-for="DoktorSoyad" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CalismaSaatleri" class="form-label">Password</label>
                <input asp-for="CalismaSaatleri" type="password" class="form-control" placeholder="Sifre" />
                <span asp-validation-for="CalismaSaatleri" class="text-danger small"></span>
            </div>

               <div class="form-group mb-3">
                <label asp-for="CalismaGunleri" class="form-label">Password</label>
                <input asp-for="CalismaGunleri" type="password" class="form-control" placeholder="Sifre" />
                <span asp-validation-for="CalismaGunleri" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="DoktorUnvan" class="form-label">Password</label>
                <input asp-for="DoktorUnvan" type="password" class="form-control" placeholder="Sifre" />
                <span asp-validation-for="DoktorUnvan" class="text-danger small"></span>
            </div>

            <div class="form-group d-grid mb-3">
                <button type="submit" class="btn btn-primary d-block"><i class="fa-solid fa-right-to-bracket me-2"></i>Doktor Kaydet</button>
            </div>
        </form>
    </div>
</div>

