@model Hasta
@{
    ViewData["Title"] = "Kayıt Ol";
}


<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <div class="form-group mb-3">
                <label asp-for="HastaEmail" class="form-label">E-Posta</label>
                <input asp-for="HastaEmail" type="email" class="form-control" placeholder="E-Posta" />
                <span asp-validation-for="HastaEmail" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="HastaTc" class="form-label">Sifre</label>
                <input asp-for="HastaTc" type="password" class="form-control" placeholder="Sifre" />
                <span asp-validation-for="HastaTc" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="HastaAd" class="form-label">Ad</label>
                <input asp-for="HastaAd" type="text" class="form-control" placeholder="Ad" />
                <span asp-validation-for="HastaAd" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="HastaSoyad" class="form-label">Soyad</label>
                <input asp-for="HastaSoyad" type="text" class="form-control" placeholder="Soyad" />
                <span asp-validation-for="HastaSoyad" class="text-danger small"></span>
            </div>

             <div class="form-group mb-3">
                <label asp-for="HastaTel" class="form-label">Telefon Numarası</label>
                <input asp-for="HastaTel" type="tel" class="form-control" placeholder="TelNo" />
                <span asp-validation-for="HastaTel" class="text-danger small"></span>
            </div>

            <div class="form-group d-grid mb-3">
                <button type="submit" class="btn btn-primary d-block"><i class="fa-solid fa-right-to-bracket me-2"></i>Kayıt Ol</button>
            </div>
        </form>
    </div>
</div>
